@import 'react-big-calendar/lib/sass/styles';

.rbc-day-slot .rbc-events-calendar {
  margin-left: 0px;
}

.rbc-day-slot .rbc-events-container {
  margin-right: 0px;
}

.rbc-event, .rbc-day-slot .rbc-background-event {
  padding: 0px;
  padding-left: 6px;
  background-color: transparent;
}

.rbc-day-slot .rbc-event, .rbc-day-slot .rbc-background-event {
  border: 0px;
}

.rectangle {
  display: flex;
  background: rgb(255, 241, 233);
  border-radius: 4px;
  border: 1px solid rgb(238, 90, 0);
  color: black;
  padding: 0px;
  height: 100%;
}

.rectangle-side-bar {
  width: 3px;
  background: rgb(238, 90, 0);
  border-radius: 4px 0px 0px 4px;
}

.rectangle-content {
  padding-left: 10px;
  width: 100%
}

.rbc-time-view {
  border:  1px solid rgb(220, 220, 220)
}

.rbc-time-content {
  border-top:  1px solid rgb(220, 220, 220)
}

.rbc-time-content > * + * > * {
  border-left:  1px solid rgb(220, 220, 220)
}


.rbc-header {
  border-bottom:  1px solid rgb(220, 220, 220)
}

.rbc-header + .rbc-header {
  border-left:  0px
}

.rbc-day-slot .rbc-time-column .rbc-now .rbc-today > .rbc-timeslot-group {
  border-bottom:  1px solid rgb(220, 220, 220)
}

.rbc-day-slot .rbc-time-column > .rbc-timeslot-group {
  border-bottom:  1px solid rgb(220, 220, 220)
}

.rbc-time-gutter .rbc-time-column > .rbc-timeslot-group {
  border-bottom: 0px;
}

.rbc-time-view .rbc-row {
  min-height: auto;
}

